<div class="row">
    <div class="col-lg-12">
        <p class="m-t-10 m-b-20 f-16">You can delete an invoiced product here. Manager authorization is required</p>
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Invoice number</label>
                <input type="number" class="form-control form-white no-spin-number" ng-model="number">

                <div style="margin-top:10px">
                    <label class="form-label">Barcode</label>
                    <input type="text" class="form-control form-white" ng-model="barcode">
                </div>

                <div style="margin-top:10px">

                    <button class="btn btn-default" ng-click="search()">
                        <i class="fa fa-spinner faa-spin animated" ng-show="loading"></i>
                        Search
                    </button>
                </div>
            </div>
            <div class="col-md-8" style="border-left: 2px dashed #E9E9E9">
                <div class="row">
                    <div class="table-responsive shopping-cart-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <col width="200">
                                    <col width="250">
                                    <col width="100">
                                    <td class="text-center">
                                        Date
                                    </td>
                                    <td class="text-center">
                                        Name
                                    </td>
                                    <td class="text-center">
                                        Quantity
                                    </td>
                                    <td class="text-center">
                                        Price
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="found">
                                    <td class="text-center">
                                        {{product.date | date:"MM/dd/yyyy 'at' h:mm:ss"}}
                                    </td>
                                    <td class="text-center">
                                        {{product.name}}
                                    </td>
                                    <td class="text-center">
                                        <div class="input-group btn-block">
                                            <input type="number" name="quantity" ng-model="productRefundQuantity" min="1" max="{{product.quantity}}" size="1" class="form-control form-white">
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        ₡
                                        <span class="item-price">{{product.price}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="cart-total clearfix" style="margin-top:20px">
                            <div>
                            </div>
                            <div class="total text-right bg-primary">
                                <h3>Total</h3>
                                <p class="text-right">₡
                                    <span class="total">{{calcTotal(product.price*productRefundQuantity)}}</span>
                                </p>
                            </div>
                        </div>
                        <div style="margin-top:40px">
                            <button class="btn btn-hg btn-default btn-square" data-toggle="modal" data-target="#modal-manager" ng-disabled="calcTotal(product.price*productRefundQuantity) == 0">Refund</button>


                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<!-- BEGIN MODAL MANAGER AUTHORIZATION -->
<div class="modal fade" id="modal-manager" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="icons-office-52"></i>
                </button>
                <h4 class="modal-title">
                    <strong>Manager </strong> permissons required</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Username</label>

                            <input type="text" name="username" class="form-control" ng-model="manageruser">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Password</label>

                            <input type="password" name="password" class="form-control" ng-model="managerpassword">

                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer bg-gray-light">
                <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-embossed" ng-click="refund()">
                    <i class="fa fa-close" ng-show="wrongLogin"></i>
                    <i class="fa fa-spinner faa-spin animated" ng-show="loginLoading"></i>
                    Authorize refund
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL MANAGER AUTHORIZATION  -->