<div class="col-md-6 col-md-offset-3">
    <h2>Profile</h2>
    <form name="form" ng-submit="editProfile()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.first_name.$dirty && form.first_name.$error.required }">
            <label for="name">First name</label>
            <div class="append-icon">
                <input type="text" name="first_name" id="first_name" class="form-control" ng-model="user.first_name" placeholder="First name"
                    required />
                <i class="icon-user"></i>
            </div>
            <span ng-show="form.first_name.$dirty && form.first_name.$error.required" class="help-block">First name is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.second_name.$dirty && form.second_name.$error.required }">
            <label for="Second name">Second name</label>
            <div class="append-icon">
                <input type="text" name="second_name" id="second_name" class="form-control" ng-model="user.second_name" placeholder="Second name"
                />
                <i class="icon-user"></i>
            </div>
            <span ng-show="form.second_name.$dirty && form.second_name.$error.required" class="help-block">Second name</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.first_last_name.$dirty && form.first_last_name.$error.required }">
            <label for="First last name">First last name</label>
            <div class="append-icon">
                <input type="text" name="first_last_name" id="Text1" class="form-control" ng-model="user.first_last_name" placeholder="First last name"
                    required/>
                <i class="icon-user"></i>
            </div>
            <span ng-show="form.first_last_name.$dirty && form.first_last_name.$error.required" class="help-block">First last name is required</span>
        </div>


        <div class="form-group" ng-class="{ 'has-error': form.second_last_name.$dirty && form.second_last_name.$error.required }">
            <label for="Second last name">Second last name</label>
            <div class="append-icon">
                <input type="text" name="second_last_name" id="Text1" class="form-control" ng-model="user.second_last_name" placeholder="Second last name"
                    required/>
                <i class="icon-user"></i>
            </div>
            <span ng-show="form.second_last_name.$dirty && form.second_last_name.$error.required" class="help-block">Second last name is required</span>
        </div>

        <div class="form-group">
            <label class="control-label">Birthday</label>
            <div class="form-group">
                <input type="date" class="form-control register-date" ng-model="user.birthdate" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Residence</label>
            <div class="append-icon">
                <input type="residence" name="residence" id="residence" ng-model="user.residence" class="form-control" placeholder="Enter your direction..."
                    required>
                <i class="icon-home"></i>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Phone Number</label>
            <div class="append-icon">
                <input type="text" name="mobile" class="form-control" ng-model="user.phone" placeholder="Mobile Number..." minlength="8"
                    required>
                <i class="icon-screen-smartphone"></i>
            </div>
        </div>
       <div class="form-group" ng-class="{ 'has-error': form.password.$dirty}">
            <label for="password">Password</label>
            <div class="append-icon">
                <input type="password" name="password" id="password" class="form-control" ng-model="user.password" minlength="4" maxlength="16">
                <i class="icon-lock"></i>
            </div>
            <span ng-show="form.password.$dirty" class="help-block">Password is required </span>
        </div>

        <div ng-show="error" class="alert alert-danger">{{error}}</div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Edit Profile</button>
            <i ng-if="done" class="glyphicon glyphicon-ok"></i>
        </div>
    </form>
</div>