<div>
    <div class="header">
        <h2><strong>Ailments</strong> </h2>

    </div>
    <div class="row">
        <div class="col-lg-12 portlets">
            <div class="panel">
                <div class="panel-header panel-controls">
                    <h3><i class="fa fa-table"></i> <strong>Ailments</strong> Table</h3>
                </div>
                <div class="panel-content">
                   <!--HEADER WITH BASIC INFO AND ADD BUTTON-->
                    <p>Here you can manage ailments easily: add new row or remove existing data.</p>
                    <div class="m-b-20">
                        <div class="btn-group">
                            <button id="table-edit_new" class="btn btn-sm btn-dark" ng-click="addNewLine()"><i class="fa fa-plus"></i>{{newLineText}}</button>
                        </div>
                    </div>
                    <!--SELECT NUMBER OF ROWS AND SEARCH INPUT-->
                    <div class="row" style="display: block;">
                        <div class="col-md-6 no-padding">
                            <label>
                                <div class="select2-container form-control">
                                    <select ng-model="select" ng-options="option.value for option in options" class="form-control">
                                        
                                    </select>
                                </div>
                            </label>
                        </div>
                        <div class="col-md-6 no-padding-2">
                            <label>
                                <input placeholder="Search..." ng-model="search" type="search" class="form-control" />
                            </label>
                        </div>
                    </div>

                    <!--TABLE-->
                    <table class="table table-hover dataTable" id="table-editable">
                        <thead>
                            <tr>

                                <th ng-repeat="title in header">{{title}}</th>
                                <th class="text-right" style="width:100px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-show="addingRow">
                                <td><input type="text" class="form-control small" ng-model="newRowModels[0]"></td>

                                <td class="text-right">
                                    <a class="edit btn btn-sm btn-success" ng-click="add()" href="javascript:;">Save</a>
                                    <a class="delete btn btn-sm btn-danger" ng-click="cancel()" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>

                            <tr ng-repeat="item in getDataSource()" ng-if="showRow($index)">
                                <td><input type="text" class="form-control small" ng-model="model[0]" ng-show="editable($index)"><p ng-show="!editable($index)">{{item.name}}</p></td>

                                <td class="text-right">
                                    <a class="delete btn btn-sm btn-danger" ng-click="remove($index,item.index)" ng-show="!editable($index)" href="javascript:;"><i class="icons-office-52"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--END TABLE-->

                    <!--PAGINATION ROW-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite" ng-show="search == ''">Showing {{from}} to {{to()}} of {{items.length}} entries</div>
                            <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite" ng-show="search !== ''">Showing search results</div>

                        </div>
                        <div class="col-md-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous" ng-click="changePage(currentPage-1)" ng-show="currentPage>1" aria-controls="DataTables_Table_2"
                                        tabindex="0" id="DataTables_Table_2_previous"><a href=""><i class="fa fa-angle-left"></i></a></li>

                                    <li class="paginate_button" ng-repeat="page in pages" ng-click="changePage(page)" ng-class="{'active': page == currentPage}"
                                        aria-controls="DataTables_Table_2" tabindex="0"><a href="">{{page}}</a></li>

                                    <li class="paginate_button next" ng-click="changePage(currentPage+1)" ng-show="currentPage!==totalPages" aria-controls="DataTables_Table_2"
                                        tabindex="0" id="DataTables_Table_2_next"><a href=""><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>